.flex {
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.flex-jc-c {
  justify-content: center;
}

.flex-jc-sa {
  justify-content: space-around;
}

.flex-ai-c {
  align-items: center;
}

/*===== Text Centering Class =====*/
.text-align {
  text-align: center;
}

/*====== Margin Class ====*/
.my {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.mx {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.mt {
  margin-top: 2.25rem;
}

.mr {
  margin-right: 1.5rem;
}

.mb {
  margin-bottom: 2.25rem;
}

.ml {
  margin-left: 1.5rem;
}

.m-all {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*======Base Styles======*/
/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Public Sans', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 85.375rem;
  margin: 0 auto;
  width: 100%;
}

.container--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 2.25rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 2.25rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.container--pall {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

.container .py {
  padding: 6.25rem;
}

@media (max-width: 39em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (max-width: 63em) {
  .hide-for-tablet {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  background-color: white;
  padding: 20px 0;
}

.header__menu {
  cursor: pointer;
}

.header__menu > span {
  display: block;
  width: 26px;
  height: 3px;
  border-radius: 5px;
  background-color: #2d314d;
}

.header__menu > span:not(:last-child) {
  margin-bottom: 3px;
}

.header__links a {
  position: relative;
  padding: 0 1rem;
  color: #2d314d;
}

.header__links a::before {
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  background: #31d35c;
  left: 20px;
  right: 20px;
  bottom: -30px;
  opacity: 0;
  transition: 0.2s ease-in;
}

.header__links a:hover::before {
  opacity: 1;
}

.header__btn {
  color: white;
  background: linear-gradient(#31d35c, #2bb7da);
  padding: 0.9rem;
  border-radius: 30px;
  transition: opacity 0.2s ease-in-out;
}

.header__btn:hover {
  opacity: 0.75;
}

.hero {
  background-color: #fafafa;
  min-height: 41rem;
  width: 100%;
}

@media (min-width: 87.5em) {
  .hero .container {
    display: flex;
    align-items: center;
  }
}

.hero__text > h1 {
  font-size: 2.3rem;
  opacity: 0.7;
}

.hero__text > p {
  font-size: 1.2rem;
  line-height: 1.7;
  margin: 2rem 0;
  opacity: 0.5;
}

@media (min-width: 87.5em) {
  .hero__text {
    flex: 2;
    order: 1;
    text-align: left;
  }
  .hero__text > h1 {
    font-size: 4rem;
  }
  .hero__text > p {
    font-size: 1.2rem;
    line-height: 1.7;
  }
}

@media (max-width: 39em) {
  .hero__text {
    padding: 1.5rem;
  }
}

@media (min-width: 40em) {
  .hero__text {
    padding: 4.25rem;
  }
}

@media (min-width: 64em) {
  .hero__text {
    padding: 4.25rem;
  }
}

@media (min-width: 87.5em) {
  .hero__text {
    padding: 0;
  }
}

.hero__image {
  background-image: url(../img/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 17.5rem;
  position: relative;
}

.hero__image::before {
  content: "";
  position: absolute;
  background-image: url(../img/image-mockups.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 71%;
  width: 100%;
  height: 130%;
}

@media (min-width: 87.5em) {
  .hero__image {
    flex: 3;
    order: 2;
    height: 41rem;
    background-image: none;
  }
}

@media (min-width: 87.5em) and (min-width: 87.5em) {
  .hero__image::before {
    content: "";
    position: absolute;
    background-image: url(../img/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 111%;
    width: 138%;
    height: 110%;
  }
}

@media (min-width: 87.5em) and (min-width: 87.5em) {
  .hero__image::after {
    content: "";
    position: absolute;
    background-image: url(../img/image-mockups.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 85%;
    width: 111%;
    height: 124%;
    transform: translateX(25%);
  }
}

@media (min-width: 87.5em) and (min-width: 130em) {
  .hero__image::before {
    content: "";
    position: absolute;
    background-image: url(../img/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 89%;
    width: 192%;
    height: 110%;
  }
}

@media (min-width: 87.5em) and (min-width: 130em) {
  .hero__image::after {
    content: "";
    position: absolute;
    background-image: url(../img/image-mockups.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 98%;
    width: 111%;
    height: 124%;
    transform: translateX(51%);
  }
}

.hero__btn {
  color: white;
  background: linear-gradient(#31d35c, #2bb7da);
  padding: 0.9rem;
  border-radius: 30px;
  display: inline-block;
}

.features {
  background-color: #f3f4f6;
  height: 100%;
  padding: 6rem 0;
  display: flex;
}

@media (max-width: 39em) {
  .features .container {
    padding: 0 1.1rem;
  }
}

.features__heading > h1 {
  font-size: 2rem;
  opacity: 0.75;
}

.features__heading > p {
  margin-bottom: 4rem;
  line-height: 1.7;
  opacity: 0.5;
}

@media (max-width: 39em) {
  .features__heading {
    text-align: center;
  }
}

@media (min-width: 40em) {
  .features__grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}

@media (min-width: 64em) {
  .features__grid {
    gap: 2.1875rem;
  }
}

@media (max-width: 86.5em) {
  .features__grid {
    gap: 0;
  }
}

@media (max-width: 39em) {
  .features__item {
    text-align: center;
    margin-top: 1.75rem;
  }
}

@media (min-width: 40em) {
  .features__item {
    flex: 1 0 50%;
    margin-top: 1.3rem;
    padding: 0 11px;
  }
}

@media (min-width: 64em) {
  .features__item {
    flex: 1 0 50%;
    margin-top: 1.3rem;
  }
}

@media (min-width: 87.5em) {
  .features__item {
    flex: 1;
  }
}

.features__icon {
  margin-bottom: 2.5rem;
}

.features__title {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  opacity: 0.7;
}

.features__description {
  line-height: 2;
  opacity: 0.5;
}

.articles {
  background-color: #fafafa;
  padding-bottom: 4.8rem;
}

@media (max-width: 39em) {
  .articles .container {
    padding: 0 1.3rem;
  }
}

.articles .article__content {
  padding-top: 6rem;
}

.articles .article__content > h2 {
  margin-bottom: 3.5rem;
  font-size: 2rem;
  opacity: 0.6;
}

@media (max-width: 39em) {
  .articles .article__content {
    text-align: center;
  }
}

.articles .article__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

@media (max-width: 39em) {
  .articles .article__grid {
    display: grid;
    grid-template-columns: 100%;
  }
}

@media (min-width: 40em) {
  .articles .article__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 87.5em) {
  .articles .article__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
}

.articles .article__item {
  background-color: white;
  padding-bottom: 1.5rem;
  border-radius: 7px;
  transition: transform 0.5s ease-in;
}

.articles .article__item:hover {
  transform: scale(1.04);
  box-shadow: 10px 3px 5px -2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 10px 3px 5px -2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 10px 3px 5px -2px rgba(0, 0, 0, 0.24);
}

@media (max-width: 39em) {
  .articles .article__item {
    box-shadow: 0px 1px 26px -2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 26px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 26px -2px rgba(0, 0, 0, 0.2);
  }
}

.articles .article__image {
  height: 12.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 5px;
}

.articles .article__text {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #2d314d;
}

.articles .article__author {
  font-size: 0.8rem;
  margin: 1rem 0.9rem 0;
  opacity: 0.5;
}

@media (max-width: 39em) {
  .articles .article__author {
    text-align: left;
  }
}

.articles .article__title {
  font-size: 1.5rem;
  margin: 1rem 0.9rem 0;
  opacity: 0.8;
}

@media (max-width: 39em) {
  .articles .article__title {
    text-align: left;
  }
}

.articles .article__description {
  margin: 1rem 0.9rem 0;
  line-height: 1.55;
  opacity: 0.5;
}

@media (max-width: 39em) {
  .articles .article__description {
    text-align: left;
  }
}

.footer {
  background-color: #2d314d;
  color: white;
  text-align: center;
  padding-top: 2.3rem;
  padding-bottom: 2.6rem;
  /* height: 34.5rem;*/
}

@media (min-width: 64em) {
  .footer {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "logo col1 col2 cta" "social col1 col2 cta";
    align-items: center;
  }
  .footer__logo {
    grid-area: logo;
  }
  .footer__links > div {
    line-height: 2.5;
  }
  .footer__links.col1 {
    grid-area: col1;
  }
  .footer__links.col2 {
    grid-area: col2;
  }
  .footer__cta {
    grid-area: cta;
    margin-top: 2.1rem;
  }
  .footer__social {
    grid-area: social;
    margin-left: 2rem;
  }
}

.footer__logo {
  margin-bottom: 1.9rem;
  display: block;
}

.footer__social {
  margin-bottom: 1.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social > a {
  display: inline-block;
  margin-right: 1.2rem;
}

.footer__social > a > img {
  width: 1.7rem;
}

.footer__links {
  margin-bottom: 1.7rem;
}

.footer__links.col1 {
  display: flex;
  flex-direction: column;
  line-height: 2;
  font-size: 1.1rem;
}

.footer__links.col2 {
  display: flex;
  flex-direction: column;
  line-height: 2;
  font-size: 1.1rem;
}

.footer__cta {
  margin-bottom: 1.9rem;
}

.footer__cta > a.btn {
  display: inline-block;
  color: white;
  background: linear-gradient(#31d35c, #2bb7da);
  padding: 0.9rem 1.8rem;
  border-radius: 30px;
}

.footer__cta > div.copyright {
  margin-top: 1.7rem;
  opacity: 0.4;
  font-size: 1.1rem;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 60%;
  top: 0;
  left: 0;
  background-color: #f3f4f6;
  z-index: 999;
  transform: translateX(-600px);
  transition: 0.5s ease-in-out;
  opacity: 0.96;
}

.sidebar.show {
  transform: translateX(-20px);
}

.sidebar > a {
  color: #2d314d;
  display: block;
  padding: 1.3rem;
  margin-left: 2rem;
  transition: 0.2s ease-in-out;
}

.sidebar > a:hover {
  font-size: 1.2rem;
}
/*# sourceMappingURL=main.css.map */