// Flexbox Helpers/Utility Classes

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-jc-sa {
        justify-content: space-around;
    }

    &-ai-c {
        align-items: center;
    }
}

/*===== Text Centering Class =====*/
.text-align {
    text-align: center;
}

/*====== Margin Class ====*/
.my {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}

.mx {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.mt {
    margin-top: 2.25rem; 
}

.mr {
    margin-right: 1.5rem; 
}

.mb {
    margin-bottom: 2.25rem;
}

.ml {
    margin-left: 1.5rem;
}

.m-all {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
