.header {
    padding: 1.2rem;



    &_menu {

        > span {
        display: block;
        width: 26px;
        height: 2px;
        background-color: #333;

        &:not(:last-child) {
            margin-bottom: 4px;
        }
        }

    }
}