.hero {
    background-color: $veryLightGray;
    min-height: 41rem;
    width: 100%;


    .container {
        @include breakpoint-up(xlarge) {
            display: flex;
            align-items: center;

        }

       
    }




    &__text {

        >h1 {
            font-size: 2.3rem;
            opacity: 0.7;
        }

        >p {
            font-size: 1.2rem;
            line-height: 1.7;
            margin: 2rem 0;
            opacity: 0.5;
        }



        @include breakpoint-up(xlarge) {
            flex: 2;
            order: 1;
            text-align: left;

            >h1 {
                font-size: 4rem;
            }

            >p {
                font-size: 1.2rem;
                line-height: 1.7;

            }

        }

        @include breakpoint-down(small) {
            padding: 1.5rem;
        }

        @include breakpoint-up(medium) {
            padding: 4.25rem;
        }

        @include breakpoint-up(large) {
            padding: 4.25rem;

        }

        @include breakpoint-up(xlarge) {
            padding: 0;
        }
    }



    &__image {
        background-image: url(../img/bg-intro-mobile.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 17.5rem;
        position: relative;






        &::before {
            content: "";
            position: absolute;
            background-image: url(../img/image-mockups.png);
            background-repeat: no-repeat;
            background-position: center bottom;
            background-size: 71%;
            width: 100%;
            height: 130%


        }

        @include breakpoint-up(xlarge) {
            flex: 3;
            order: 2;
            height: 41rem;
            background-image: none;



            &::before {
                @include breakpoint-up(xlarge) {
                    content: "";
                    position: absolute;
                    background-image: url(../img/bg-intro-desktop.svg);
                    background-repeat: no-repeat;
                    background-position: center bottom;
                    background-size: 111%;
                    width: 138%;
                    height: 110%;

                }

            }




            &::after {
                @include breakpoint-up(xlarge) {
                    content: "";
                    position: absolute;
                    background-image: url(../img/image-mockups.png);
                    background-repeat: no-repeat;
                    background-position: center bottom;
                    background-size: 85%;
                    width: 111%;
                    height: 124%;
                    transform: translateX(25%);
                }

            }



            &::before {
                @include breakpoint-up(xxlarge) {
                    content: "";
                    position: absolute;
                    background-image: url(../img/bg-intro-desktop.svg);
                    background-repeat: no-repeat;
                    background-position: center bottom;
                    background-size: 89%;
                    width: 192%;
                    height: 110%
                }
            }

            &::after {
                @include breakpoint-up(xxlarge) {
                    content: "";
                    position: absolute;
                    background-image: url(../img/image-mockups.png);
                    background-repeat: no-repeat;
                    background-position: center bottom;
                    background-size: 98%;
                    width: 111%;
                    height: 124%;
                    transform: translateX(51%)
                }
            }
        }

       
        

    }



    &__btn {
        color: $white;
        background: linear-gradient($limeGreen, $brightCyan);
        padding: 0.9rem;
        border-radius: 30px;
        display: inline-block;
    }
}